@using Wx.WEB.Core.ViewModels

@model CardBusinessRule
@{
    var isEnabled = !Model.IsEditAccountInfoPanel;
    var paperTypeList = ViewBag.PaperTypes == null ? "{}" : ViewBag.PaperTypes;
}
<div class="easyui-panel" title="用户信息" style="width:99%;height:130px;" data-options="collapsible:true,border:true">
    <div class="table">
        <form id="Customer">
            <ul>
                <li>用户姓名：<input class="easyui-textbox" type="text" name="CustName" id="CustName" disabled="@isEnabled" /></li>
                <li>出生日期：<input class="easyui-datebox" type="text" name="CustBirth" id="CustBirth" disabled="@isEnabled"/></li>
                <li>证件类型：<select class="easyui-combobox" name="PaperTypeCode" id="PaperTypeCode" data-options="valueField:'PAPERTYPECODE',textField:'PAPERTYPENAME',width:151,editable:false,data:@paperTypeList" disabled="@isEnabled"></select></li>
                <li>证件号码：<input class="easyui-textbox" type="text" name="PaperNo" id="PaperNo" disabled="@isEnabled"/></li>
                <li>用户性别：<select class="easyui-combobox" type="text" name="CustSex" id="CustSex" data-options="valueField:'id',textField:'text',width:151,editable:false,data:[{id:'0',text:'男'},{id:'1',text:'女'}]" disabled="@isEnabled"></select></li>
                <li>联系电话：<input class="easyui-textbox" type="text" name="CustPhone" id="CustPhone" disabled="@isEnabled"/></li>
                <li>邮政编码：<input class="easyui-textbox" type="text" name="CustPost" id="CustPost" disabled="@isEnabled"/></li>
                <li>联系地址：<input class="easyui-textbox" type="text" name="CustAddr" id="CustAddr" disabled="@isEnabled"/></li>
                <li>电子邮件：<input class="easyui-textbox" type="text" name="CustEmail" id="CustEmail" data-options="validType:'email'" disabled="@isEnabled"/></li>
                <li><span style="margin-right:24px">备注：</span><input class="easyui-textbox" type="text" name="Remark" id="Remark" disabled="@isEnabled"/></li>
                @if (Model.IsShowlossmessage)
                {
                <li>挂失时间：<input class="easyui-textbox" type="text" name="LossTime" id="LossTime" disabled="@isEnabled" /></li>
                <li>挂失员工：<input class="easyui-textbox" type="text" name="LossStaff" id="LossStaff" disabled="@isEnabled" /></li>
                <li>挂失部门：<input class="easyui-textbox" type="text" name="LossDept" id="LossDept" disabled="@isEnabled" /></li>
                }
            </ul>
            <input type="hidden" id="CustomerNo" value="" />
        </form>
</div> 
</div> 

